@{
    Layout = "~/Plugins/Krtya.CRM/Views/CRM/Layout.cshtml";
}

<div class="section-header">
					<div class="title">
						<img src="@Url.Content("~/Plugins/Krtya.CRM/Content/images/ic_crm_dashboard.png")" alt="" />
						 Dashboard
					</div>
</div>