@{
    Layout = "~/Plugins/Krtya.CRM/Views/CRM/Layout.cshtml";
}

<div class="section-header">
					<div class="title">
						<img src="@Url.Content("~/Administration/Content/images/ico-customers.png")" alt="" />
						 Dashboard
					</div>
</div>